@import "header.css";
@import "download.css";
@import "form.css";
@import "template.css";
@import "gente-nova-template-02.css";
@import "gente-nova-template-03.css";
@import "gente-nova-template-04.css";
@import "gente-nova.css";
@import "novas-parcerias.css";
@import "novos-projetos.css";
@import "novas-vagas.css";
@import "newsletter.css";


html, body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
}
*:focus{
	outline: none;
}
hr {
	opacity: .5;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 30px 0;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
strong{
	font-weight: 900;
}
h1{
	margin: 0 0 40px 0;
	padding: 0 0 20px 0;
	color: #333;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: solid 1px #f5f5f5;

}
.main{
	padding: 20px 30px 30px;
	float: left;
    width: 100%;
    box-sizing: border-box;
}
.main > h1{
	font-weight: bold;
}
