.template.gente-nova.template-03{
	background: transparent url('../images/new-template/bg-template-03.jpg') no-repeat 0 0;
	height: 1048px;
	width: 600px;
	margin-bottom: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.template.gente-nova.template-03 .item-gente-nova { 
	width: 182px;
	height: 182px;
	position: absolute;
	top: 215px;
	left: 48px;
}

.template.gente-nova.template-03 .item-gente-nova .image {
	width: 182px;
	height: 182px;
	border-radius: 182px;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-03 .item-gente-nova .image img{
	width: 100%;
	height: 182px;
	border-radius: 182px;
	object-fit: cover;
}

.template.gente-nova.template-03 .item-gente-nova-chapa { 
	width: 94px;
	height: 94px;
	position: absolute;
	top: 178px;
	left: 170px;
}

.template.gente-nova.template-03 .item-gente-nova-chapa .image {
	width: 94px;
	height: 94px;
	border-radius: 94px;
	overflow: hidden;
}

.template.gente-nova.template-03 .item-gente-nova-chapa .image img{
	width: 94px;
	height: 100%;
	border: 0;
	object-fit: cover;
}

/* Funcionário 02 */
.template.gente-nova.template-03 .item-gente-nova-02 { 
	width: 182px;
	height: 182px;
	position: absolute;
	top: 215px;
	right: 48px;
}

.template.gente-nova.template-03 .item-gente-nova-02 .image {
	width: 182px;
	height: 182px;
	border-radius: 182px;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-03 .item-gente-nova-02 .image img{
	width: 100%;
	height: 182px;
	border-radius: 182px;
	object-fit: cover;
}

.template.gente-nova.template-03 .item-gente-nova-chapa-02 { 
	width: 94px;
	height: 94px;
	position: absolute;
	top: 178px;
	right: 170px;
}

.template.gente-nova.template-03 .item-gente-nova-chapa-02 .image {
	width: 94px;
	height: 94px;
	border-radius: 94px;
	overflow: hidden;
}

.template.gente-nova.template-03 .item-gente-nova-chapa-02 .image img{
	width: 94px;
	height: 94px;
	border-radius: 100%;
	border: 0;
	object-fit: cover;
}

/* Funcionário 03 */
.template.gente-nova.template-03 .item-gente-nova-03 { 
	width: 183px;
	height: 183px;
	position: absolute;
	top: 606px;
	left: 210px;
}

.template.gente-nova.template-03 .item-gente-nova-03 .image {
	width: 183px;
	height: 183px;
	border-radius: 183px;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-03 .item-gente-nova-03 .image img{
	width: 100%;
	height: 183px;
	border-radius: 183px;
	object-fit: cover;
}

.template.gente-nova.template-03 .item-gente-nova-chapa-03 { 
	width: 87px;
	height: 87px;
	position: absolute;
	top: 577px;
	left: 182px;
}

.template.gente-nova.template-03 .item-gente-nova-chapa-03 .image {
	width: 87px;
	height: 87px;
	border-radius: 87px;
	overflow: hidden;
}

.template.gente-nova.template-03 .item-gente-nova-chapa-03 .image img{
	width: 87px;
	height: 87px;
	border-radius: 100%;
	border: 0;
	object-fit: cover;
}

.template.gente-nova.template-03 .item-gente-nova-chapa .faixa-chapa,
.template.gente-nova.template-03 .item-gente-nova-chapa-02 .faixa-chapa,
.template.gente-nova.template-03 .item-gente-nova-chapa-03 .faixa-chapa {
	width: 136px;
	height: 31px;
	background: transparent url('../images/new-template/faixa-chapa.png') no-repeat 0 0;
	position: absolute;
	bottom: 10px;
	left: -18px;
	border-radius: 100%;
}

.template.gente-nova.template-03 .item-gente-nova-chapa-03 .faixa-chapa {
	left: -24px;
}