.template.gente-nova.template-02{
	background: transparent url('../images/new-template/bg-template-02.jpg') no-repeat 0 0;
	height: 1294px;
	width: 600px;
	margin-bottom: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.template.gente-nova.template-02 .item-gente-nova { 
	width: 194px;
	height: 185px;
	position: absolute;
	top: 115px;
	left: 18px;
}

.template.gente-nova.template-02 .item-gente-nova .image {
	width: 194px;
	height: 185px;
	border-radius: 300px;
	background: #fff;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-02 .item-gente-nova .image img{
	width: 100%;
	height: 185px;
	object-fit: cover;
}

.template.gente-nova.template-02 .item-gente-nova-chapa { 
	width: 97px;
	height: 97px;
	position: absolute;
	top: 124px;
	left: 157px;
}

.template.gente-nova.template-02 .item-gente-nova-chapa .image {
	width: 97px;
	height: 97px;
	border-radius: 100%;
	background: #df0209;
	overflow: hidden;
}

.template.gente-nova.template-02 .item-gente-nova-chapa .image img{
	width: 100%;
	height: 97px;
	border: 0;
	object-fit: cover;
}

.template.gente-nova.template-02 .item-gente-nova-02 { 
	width: 195px;
	height: 185px;
	position: absolute;
	top: 114px;
	right: 69px;
}

.template.gente-nova.template-02 .item-gente-nova-02 .image {
	width: 196px;
	height: 185px;
	border-radius: 100%;
	background: #fff;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-02 .item-gente-nova-02 .image img{
	width: 100%;
	height: 185px;
	object-fit: cover;
	font-size: 20px;
}

.template.gente-nova.template-02 .item-gente-nova-chapa-02 { 
	width: 97px;
	height: 97px;
	position: absolute;
	top: 123px;
	right: 25px;
}

.template.gente-nova.template-02 .item-gente-nova-chapa-02 .image {
	width: 97px;
	height: 97px;
	border-radius: 100%;
	background: #df0209;
	overflow: hidden;
}

.template.gente-nova.template-02 .item-gente-nova-chapa-02 .image img{
	width: 100%;
	height: 97px;
	border: 0;
	object-fit: cover;
}

.template.gente-nova.template-02 .item-gente-nova-chapa .faixa-chapa,
.template.gente-nova.template-02 .item-gente-nova-chapa-02 .faixa-chapa {
	width: 136px;
	height: 31px;
	background: transparent url('../images/new-template/faixa-chapa.png') no-repeat 0 0;
	position: absolute;
	bottom: 15px;
	left: -18px;
	border-radius: 100%;
}