@font-face {
	font-family: 'sunnregular';
	src: url('../fonts/sunn-webfont.woff2') format('woff2'),
			 url('sunn-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

hr {
	opacity: .5;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 30px 0;
}

.template.gente-nova > div {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
	bottom: 0px;
}

/* Novo layout */
.select-template {
	max-width: 1366px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.select-template .template-item {
	width: auto;
	margin: 20px 30px;
	transition: all .3s ease-in-out;
	filter: grayscale(100%);
	opacity: .7;
}

.select-template .template-item:hover {
	transform: scale(1.1);
	opacity: 1;
	filter: grayscale(0%);
}

.select-template .template-item img {
	width: auto;
	height: 400px;
}

.template.gente-nova  {
	position: relative;
}

.template.gente-nova.template-01{
	background: transparent url('../images/bg-template-01.png') no-repeat 0 0;
	height: 740px;
	width: 600px;
	margin-bottom: 0;
	border: 0;
	padding: 0;
	font-family: 'sunnregular';
	overflow: hidden;
}

.template.gente-nova.template-01 h2 {
	font-size: 120px;
	text-align: center;
	font-weight: 500;
	line-height: 0;
}

.template.gente-nova.template-01 .item-gente-nova { 
	width: 313px;
	height: 313px;
	position: absolute;
	top: 215px;
	left: 93px;
}

.template.gente-nova.template-01 .item-gente-nova .image {
	width: 313px;
	height: 313px;
	border-radius: 300px;
	background: #f94c5c;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-01 .item-gente-nova .image img{
	width: 100%;
	height: 313px;
	object-fit: cover;
}

.template.gente-nova.template-01 .item-gente-nova ul li,
.template.gente-nova.template-01 .item-gente-nova ul li span{
	color: #9a9a9a;
	font-size: 20px;
}

.template.gente-nova.template-01 .item-gente-nova .title{ 
	color: #000 !important;
	font-size: 78px !important;
	margin: 20px 0 0 0;
}

.template.gente-nova.template-01 .item-gente-nova .title.title-small {
	font-size: 58px !important; 
}

.template.gente-nova.template-01 .item-gente-nova .equipe{ 
	color: #000 !important;
	font-size: 58px !important;
	margin: 0;
}

.template.gente-nova.template-01 .item-gente-nova .equipe.equipe-small{ 
	font-size: 48px !important;
}


.template.gente-nova.template-01 .item-gente-nova-chapa { 
	width: 126px;
	height: 126px;
	position: absolute;
	top: 160px;
	right: 48px;
}

.template.gente-nova.template-01 .item-gente-nova-chapa .image {
	width: 126px;
	height: 126px;
	border-radius: 300px;
	background: #f94c5c;
	overflow: hidden;
}

.template.gente-nova.template-01 .item-gente-nova-chapa .image img{
	width: 126px;
	height: 126px;
	border: 0;
	object-fit: cover;
}

.template.gente-nova.template-01 .item-gente-nova-chapa ul li,
.template.gente-nova.template-01 .item-gente-nova-chapa ul li span{
	color: #9a9a9a;
	font-size: 20px;
}

.template.gente-nova.template-01 .item-gente-nova-chapa .title{ 
	color: #000 !important;
	font-size: 48px !important;
	margin: 0;
}

.template.gente-nova.template-01 .item-gente-nova-chapa .title.title-small {
	font-size: 30px !important; 
}
