/* Escolha do template */
.select-template {
	max-width: 1366px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.select-template .template-item {
	width: auto;
	margin: 20px 30px;
	transition: all .3s ease-in-out;
	filter: grayscale(100%);
	opacity: .7;
}

.select-template .template-item:hover {
	transform: scale(1.1);
	opacity: 1;
	filter: grayscale(0%);
}

.select-template .template-item img {
	width: auto;
	height: 400px;
}

/* Geral */
.template.gente-nova  {
	position: relative;
}


.template.gente-nova > div {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
	bottom: 0px;
}

.template.gente-nova > div ul li span {
    word-wrap: normal;
}

.template.gente-nova .image{
	margin-bottom: 15px;
}

.template.gente-nova .equipe,
.template.gente-nova .title,
.template.gente-nova .cargo,
.template.gente-nova .title-chapa{ 
	font-family: 'maison_neueextended_bold';
	color: #000 !important;
	margin: 0;
}

.template.gente-nova .title {
	font-weight: 500;
	font-size: 16px !important;
}

.template.gente-nova .equipe,
.template.gente-nova .cargo {
	font-weight: 100;
	font-size: 12px !important;
}


span#chapa,
span#chapa_02,
span#chapa_03,
span#chapa_04{
	font-family: 'maison_neueextended_bold';
	color: #000 !important;
	font-size: 16px !important;
	margin: 0;
	margin-left: 60px;
	display: flex;
	justify-content: center;
}

.template.gente-nova div[class^="item-gente-nova-chapa"] ul li,
.template.gente-nova div[class^="item-gente-nova-chapa"] ul li span{
	color: #9a9a9a;
	font-size: 20px;
}


.template.gente-nova.template-01 {
	background: transparent url('../images/bg-template-01.png') no-repeat 0 0;
	height: 789px;
	width: 600px;
	margin-bottom: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}


.template.gente-nova.template-01 .item-gente-nova { 
	width: 313px;
	height: 313px;
	position: absolute;
	top: 290px;
	left: 108px;
}

.template.gente-nova.template-01 .item-gente-nova .image {
	  width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 35px;
    border-radius: 15px;
}

.template.gente-nova.template-01 .border-right {
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent url('../images/funcionario_big.png') no-repeat;
}

.template.gente-nova.template-01 .item-gente-nova .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.template.gente-nova.template-01 .item-gente-nova-chapa { 
	width: 169px;
	height: 165px;
	position: absolute;
	top: 423px;
	right: 124px;
}

.template.gente-nova.template-01 .item-gente-nova-chapa .border-chapa-right  {
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent url('../images/chapa_big.png');
}


.template.gente-nova.template-01 .item-gente-nova-chapa .image {
	  width: 120px;
    height: 118px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 25px;
		margin-bottom: 46px;
}

.template.gente-nova.template-01 .item-gente-nova-chapa .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}