.template.gente-nova.template-04{
	background: transparent url('../images/new-template/bg-template-04.jpg') no-repeat 0 0;
	height: 788px;
	width: 600px;
	margin-bottom: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.template.gente-nova.template-04 .item-gente-nova { 
	width: 193px;
	height: 184px;
	position: absolute;
	top: 129px;
	left: 26px;
}

.template.gente-nova.template-04 .item-gente-nova .image {
	width: 194px;
	height: 185px;
	border-radius: 185px;
	background: #fff;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova .image img{
	width: 100%;
	height: 185px;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova-chapa { 
	width: 100px;
	height: 100px;
	position: absolute;
	top: 138px;
	left: 160px;
}

.template.gente-nova.template-04 .item-gente-nova-chapa .image {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: #df0209;
	overflow: hidden;
}

.template.gente-nova.template-04 .item-gente-nova-chapa .image img{
	width: 100px;
	height: 100px;
	border: 0;
	object-fit: cover;
}

/* Funcionário 02 */
.template.gente-nova.template-04 .item-gente-nova-02 { 
	width: 193px;
	height: 184px;
	position: absolute;
	top: 128px;
	right: 62px;
}

.template.gente-nova.template-04 .item-gente-nova-02 .image {
	width: 195px;
	height: 185px;
	border-radius: 300px;
	background: #fff;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova-02 .image img{
	width: 100%;
	height: 185px;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-02 { 
	width: 100px;
	height: 100px;
	position: absolute;
	top: 138px;
	right: 20px;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-02 .image {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: #df0209;
	overflow: hidden;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-02 .image img{
	width: 100px;
	height: 100px;
	border: 0;
	object-fit: cover;
}

/* Funcionário 03 */
.template.gente-nova.template-04 .item-gente-nova-03 { 
	width: 193px;
	height: 184px;
	position: absolute;
	top: 430px;
	left: 26px;
}

.template.gente-nova.template-04 .item-gente-nova-03 .image {
	width: 194px;
	height: 185px;
	border-radius: 185px;
	background: #fff;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova-03 .image img{
	width: 100%;
	height: 185px;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-03 { 
	width: 100px;
	height: 100px;
	position: absolute;
	top: 440px;
	left: 160px;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-03 .image {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: #df0209;
	overflow: hidden;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-03 .image img{
	width: 100px;
	height: 100px;
	border: 0;
	object-fit: cover;
}

/* Funcionário 04 */
.template.gente-nova.template-04 .item-gente-nova-04 { 
	width: 193px;
	height: 184px;
	position: absolute;
	top: 429px;
	right: 61px;
}

.template.gente-nova.template-04 .item-gente-nova-04 .image {
	width: 194px;
	height: 185px;
	border-radius: 185px;
	background: #fff;
	overflow: hidden;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova-04 .image img{
	width: 100%;
	height: 185px;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-04 { 
	width: 100px;
	height: 100px;
	position: absolute;
	top: 440px;
	right: 20px;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-04 .image {
	width: 100px;
	height: 100px;
	border-radius: 300px;
	background: #df0209;
	overflow: hidden;
}

.template.gente-nova.template-04 .item-gente-nova-chapa-04 .image img{
	width: 100px;
	height: 100px;
	border: 0;
	object-fit: cover;
}

.template.gente-nova.template-04 .item-gente-nova-chapa .faixa-chapa,
.template.gente-nova.template-04 .item-gente-nova-chapa-02 .faixa-chapa,
.template.gente-nova.template-04 .item-gente-nova-chapa-03 .faixa-chapa,
.template.gente-nova.template-04 .item-gente-nova-chapa-04 .faixa-chapa {
	width: 136px;
	height: 31px;
	background: transparent url('../images/new-template/faixa-chapa.png') no-repeat 0 0;
	position: absolute;
	bottom: 15px;
	left: -18px;
	border-radius: 100%;
}
